<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item - 2</key>
	<string></string>
	<key>New item</key>
	<string></string>
	<key>Preparation</key>
	<array/>
	<key>Ingredients</key>
	<array/>
	<key>Description</key>
	<array/>
	<key>Thumbnail</key>
	<array/>
	<key>RecipeName</key>
	<dict>
		<key>New item</key>
		<string></string>
	</dict>
</dict>
</plist>
